div
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block"): include:lsc index.ls
  .form-group.has-tips.manual(ld="base error-root",plug="widget",style="cursor:default")
    div(ld="display", data-display="block"): label.d-flex.align-items-end.flex-wrap
      div
        span(ld="label")
        span.text-danger.ml-2(ld="is-required") *
      .flex-grow-1
      .m-edit: .mf-note.text-sm(ld="limitation")
    .text-sm.text-muted(ld="display", data-display="block"): div(ld="desc", style="margin:-.6em 0 .7em")
    .rounded.shadow-sm.border.mb-2.aspect-ratio.ratio-3by2.w-100(ld="sheet")
    .mb-2(ld="sheet-viewer")
      table.w-100.rounded.shadow-sm
        tr.row-head
          td(ld-each="head")
        tr(ld="no-row"): td.text-muted(t="無資料")
        tr(ld-each="row"): td(ld-each="col")
    .mb-2(ld="table")
      .mb-2
        .lc-sheet-row: .row-head.form-control(ld-each="head")
        .lc-sheet-no-row(ld="no-row"): .form-control.text-muted(t="無資料")
        .lc-sheet-row(ld-each="row")
          i.i-close(ld="delete")
          textarea.form-control(ld-each="col")
    .mb-2(ld="table-viewer")
      .mb-2.lc-sheet-viewer
        .lc-sheet-row
          .row-head.form-control(ld-each="head")
        .lc-sheet-no-row(ld="no-row"): .form-control.text-muted(t="無資料")
        .lc-sheet-row(ld-each="row"): .form-control(ld-each="col")

    .d-flex.justify-content-between
      .d-flex.g-2.align-items-end
        div #[span(t) 總金額]:
        .d-flex.align-items-center(ld="total")
        .text-sm.text-muted(ld="unit")
      div(ld="table"): .btn.btn-sm.btn-outline-secondary(t="追加",ld="add")

    .m-edit: .hover-tip.tip-sm: div(ld-each="error")
    .m-edit(ld="display",data-display="block"): .mf-note.text-sm.mt-2.note(ld-each="note")
