.sheet .disabled { background: #eee; color: #777 }
.sheet .readonly { background: #fafbfc; color: #333 }
.sheet .number { text-align: right}
.sheet .hl {border-bottom: 2px solid #000 }
/* we set white-space to `normal` earlier.
   not sure whether pre-wrap or normal is better.
   but pre-wrap helps in preserving line breaks */
.sheet .name-field { white-space: pre-wrap; word-break: break-all }
.sheet .cell, .sheet .edit textarea { max-height: 200px }
[ld=total].text-danger:after
  font-family: ldi
  display: inline
  content: "\f03d"
  font-size: .85em
  margin-left: .5em

.lc-sheet-viewer
  .lc-sheet-row
    .form-control
      height: auto
.lc-sheet-row, .lc-sheet-no-row
  display: flex
  position: relative
  .form-control
    // preserve a minimal width
    width: 5.5em
    box-shadow: none!important
    resize: none
  i.i-close
    position: absolute
    top: 0
    bottom: 0
    margin: auto
    line-height: 1em
    height: fit-content
    font-size: .6em
    background: #fff
    padding: .25em
    border-radius: 50%
    border: 1px solid var(--danger)
    color: var(--danger)
    left: -.75em
    cursor: pointer
  .form-wrapper, .form-control, .row-head
    flex: 1 1 1px
    min-width: 0
  .form-wrapper
    display: flex
  .row-head:not(:last-child), .form-wrapper:not(:last-child) .form-control
    border-right: 0
    border-top-right-radius: 0
    border-bottom-right-radius: 0
  .row-head:not(:nth-child(-n + 1)), .form-wrapper:not(:nth-child(-n + 2)) .form-control
    border-top-left-radius: 0
    border-bottom-left-radius: 0
.lc-sheet-row:not(:last-child)
  .form-control
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    border-bottom: 0
.lc-sheet-row:not(:nth-child(1)), .lc-sheet-no-row
  .form-control
    border-top-left-radius: 0
    border-top-right-radius: 0
td
  padding: .25em
table, th, td
  border: 1px solid #ddd
  border-collapse: collapse
tr.row-head
  background: #eee
  color: #777
